@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap');

:root{
    --cor-primaria:#ffd78f;
    --cor-secundaria:#F6F6F6;
    --cor-terciaria:#3061e3;
    --cor-rover:#da2528;

    --font-basica:"VT323", monospace;
    --font-titulo:"Press Start 2P", system-ui;
}

*{
    margin: 0;
    padding: 0;
}

.cabecalho{
    padding: 2% 0 0 15%;
}

.cabecalho__menu{
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link{
    color:var(--cor-terciaria);
    font-family:var(--font-basica);
    font-size: 1.5rem;
    font-weight: 400;
    text-decoration: none;
}

body{
    background-color: black;
    color:var(--cor-secundaria);
    /* height: 100vh; */
    box-sizing: border-box; /*isso nao deixa nada sair do body */
}

.apresentacao{
    display: flex;
    gap: 32px;
    align-items: center;
    justify-content: space-between;
    padding: 8% 15%;
    /*overflow: hidden;
    width: 100%;
    height: 100%; isso tudo faz com que ocupe toda a tela sem deixar scrolar */
}

.titulo-destaque{
    color: var(--cor-terciaria);
}

.apresentacao__conteudo{

    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    font-size: 2.25rem;
    font-family: var(--font-titulo);
    
}

.apresentacao__conteudo__texto{
    font-size: 1.5rem;
    font-family: var(--font-basica);
}

.apresentacao__conteudo__subtitulo{
    font-family: var(--font-titulo);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__conteudo__links{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.apresentacao__conteudo__links__navegacao{
    /* background-color: #3061e3; */
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    padding: 21.5px 0px;
    text-decoration: none;
    color: var(--cor-primaria);
    font-family: var(--font-basica);
    border: 2px solid var(--cor-terciaria);
}

.apresentacao__conteudo__links__link:hover{
    background-color: var(--cor-rover);
    border: 2px dashed var(--cor-terciaria);
}

.apresentacao__imagem{
    width: 50%;
}


.rodape{
    color: #ffd78f;
    background-color: var(--cor-terciaria);
    padding: 24px;
    text-align: center;
    font-family: var(--font-basica);
    font-weight: 400;
    font-size: 1.5rem;
}

@media (max-width: 1200px){
    .cabecalho{
    padding: 10%;
   }
   .cabecalho__menu{
    justify-content: center;
   }
   .apresentacao{
    flex-direction: column-reverse;
    padding: 5%;
   }
   .apresentacao__conteudo{
    width: auto;
   }
 
}